@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<!-- Main -->
<div id="main">

    <!-- Post -->
    <article class="post">
        <header>
            <div class="title">
                <h1>Get in touch with us!</h1>
                <p>Look below to get in touch with our team of developers.</p>
            </div>
            <div class="meta">
                <time class="published" datetime="2015-11-01">April 27, 2016</time>
                <a href="#" class="author"><span class="name">TeamLG&E</span><img src="@Url.Content("~/Content/MyTemplate/")images/avatar.jpg" alt="" /></a>
            </div>
        </header>
        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address><br />
        <a href="#" class="image featured"><img src="@Url.Content("~/Content/MyTemplate/")images/pic01.jpg" alt="" /></a>
    </article>
    </div>
